.service__container {
  min-height: 160vh;
  width: 100%;
  background-color: #007bff;
  padding-bottom: 4rem;
  margin: auto;
}

.service__wrapper {
  display: flex;
  padding-top: 3rem;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-align: center;
}

.service__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 5rem 1rem;
}

.service__main {
  width: 100%;
  min-height: 380px;
  /* border: 1px dotted red; */
  cursor: pointer;
  text-align: center;
  position: relative;
}

.service__content {
  position: absolute;
  bottom: 0;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.service__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;
  border: 18px solid #007bff;
}

.service__img img {
  width: 50%;
  margin-top: 20px;
  margin-left: 25px;
  transition: transform 1s;
  padding: auto;
}

.service__content h4 {
  height: 35px;
  width: 80%;
  background: #fff;
  margin: 25px auto;
  position: relative;
  color: #228b22;
}

.service__content p {
  color: #007bff;
}

.service__main:hover img {
  transform: rotate(360deg);
}
