.about__container {
    min-height: 40vh;
    background: url('../../assets/images/wire.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about__content1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__text > p {
    line-height: 2em;
}

.about {
    background-color: #eee;
}

.about__sec > h2 {
    text-align: center;
    margin-block: 3rem;
    color: #007bff;
}

.about__text > h2 {
    color: #228b22;
}