.contact__container {
    min-height: 50vh;
    background: url('../../assets/images/wire.jpg') no-repeat;
    background-size: cover;
}

.contact__gird {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.form__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

.form__row > input {
    width: 45%;
    outline: none;
    border: 1px solid green;
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1em;
}

.textarea textarea {
    width: 90%;
    max-width: 100%;
    outline: none;
    resize: none;
    border: 1px solid green;
}

.form__btn button {
    background-color: #007bff;
    padding: .7rem;
    margin-top: .7rem;
    color: #fff;
}

.contact__text {
    text-align: center;
    margin: 2rem 0;
}

.contact__text > p {
    width: 60%;
    margin: .5rem auto;
}

.contact__text > h4 {
    font-size: 3rem;
    color: #007bff;
}

.contact__text > h3 {
    color: green;
}

.contact__map {
    width: 100%;
}
