.wireless__container {
    min-height: 50vh;
    background: url('../../assets/images/wire.jpg') no-repeat;
    background-size: cover;
}

.gh{
    background: whitesmoke;
}

.wire__love {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-size: 1.65rem;
    gap: 1rem;
}

.wire__text > p {
    line-height: 3rem;
    /* font-size: 1.1em; */
}