.software__container {
    min-height: 80vh;
}

.software__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 100%;
    background-color: #fff;
    place-items: center;
}

.software__grid > div > img {
    height: 100%;
    object-fit: cover;
}

.software__content ul li {
    line-height: 6rem;
    font-weight: 600;

}