.inter__container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    background-color: whitesmoke;
}

.inter__wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.inter__card {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #007bff;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 100%, 0 84%, 0 0);
    line-height: 3rem;
    padding: 2rem;
    letter-spacing: .4rem;
}

.inter__card > div > ul > li {
    border-top: 1px solid #fff;
}

.inter__card1 > h2 {
    margin-block: 2rem;
    padding: 1rem;
    color: #228b22;
}
