.banner__container {
    width: 100%;
    position: relative;
}

.banner__content1 {
    height: 15vh;
    width: 100%;
    background-color: #303030;
}

.banner__content2 {
    height: 20vh;
    width: 15%;
    background-color: #eee;
    position: absolute;
    bottom: -15px;
    left: 20px;
    color: #007bff;
    display: grid;
    place-items: center;
}

.banner__wrapper {
    display: flex;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-left: 9rem;
}

.banner__sample {
    border-bottom: 1px solid gray;
    color: #eee;
}

.banner__content1 {
    display: flex;
    justify-content: flex-end;
}

.banner__input {
    display: flex;
    align-items: center;
}

.banner__input > input {
    padding: 10px;
    outline: none;
    border: none;
}

.banner__select {
    padding: 9px;
    outline: none;
    background-color:#228B22;
    color: #fff;
}

.banner__btn {
    margin-right: 5rem;
    margin-left: .5rem;
    padding: 6px;
    background-color:#228B22;
    color: #fff;
}

.banner__hey {
    color: #8b9698;
}